[gui]
[http]
	sslVerify = false
	postBuffer = 104857600
[push]
	default = simple
[user]
	name = Nuno Silva
	email = nunoas@users.noreply.github.com
[alias]
  d = difftool
  c = commit
  po = push origin
  po = push origin -f
  s = status -s
  cl = clone
  a = commit --amend
  co = checkout
  cob = checkout -b
  br = branch
  latest = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
  l = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
  unmerged = branch --no-merged
  unstage = reset HEAD --
  last = log -1 HEAD
  active-branches = for-each-ref --sort=committerdate refs/heads/
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
  editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
